{% extends 'base.html' %}
{%block title%}
    home
{% endblock%}

{% block content%}
    {% for product in products%}
    <div class='container'>
      <div class="card my-3" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">${{product.price}}</p>
          <a href="{% url 'product_detail' product.slug%}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    
    {%endfor%}
    
{% endblock%}

